[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "build/client"

[build.environment]
  NODE_VERSION = "18"

[[headers]]
  for = "/build/assets/*"
  [headers.values]
    cache-control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"